.user-list .user-list__item{
  padding: 10px;
  border: 1px solid black;
}
.user-list .user-list__item:not(:last-child){
  margin-bottom: 10px;
}
.user-list .user-list__text{
  font-size: 18px;
  font-weight: bold;
}